:root {
    --color1: #c1291c;
    --color2: #750F06;
    --color3: #DBC230;
    --color4: #0A5FC2;
    --color5: #0C3D75;
    --white: whitesmoke;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: Montserrat, Verdana;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--color1);
}

.user-options {
    flex: 1;
    display: flex;
    gap: 3vw;
    justify-content: center;
    color: var(--white);
    font-size: clamp(12px, 1vw, 20px);
    margin: 6px 0;
}

.grid-size,
.color-buttons,
.trail-length {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--color3);
    padding: 0 8px;
    border-radius: 8px;
    background-color: var(--color2);
    /* justify-content: flex-end; */
}

.option-title {
    margin: 6px 6px 0 6px ;
    font-size: 12px;
}

.option-slider {
    display: flex;
    align-items: center;
    gap: 6px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    height: 10px;
    background: var(--color3);
    border-radius: 12px;
  }

.slider::-webkit-slider-runnable-track,
.slider::-moz-range-track {
    /* height: 12px; */
    background: var(--color4);
    border-radius: 12px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: var(--color4);
    border-radius: 50%;
    border: 1px solid var(--color5);
}

.slider::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: var(--color4);
    border-radius: 50%;
    border: 1px solid var(--color5);
}

  .option-buttons {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .slider {
    color: var(--white);
  }

  .radio-button {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
  }

  input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    display: grid;
    place-content: center;
    background-color: var(--color2);
    margin: 0;
    font: inherit;
    color: var(--color2);
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--color3);
    border-radius: 50%;
    transform: translateY(+0.05em);
  }

  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--color3);
    background-color: var(--color3);
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }

  .radio-button:hover,
  .slider:hover {
    color: var(--color1);
  }

#grid-size-display, 
#trail-length-display {
    width: 24px;
 }

#clear-grid,
#instructions-btn,
#close-btn {
    margin: auto 0;
    padding: 6px 12px;
    background-color: var(--color2);
    border-radius: 12px;
    color: var(--white);
    transition-duration: 0.4s;
    border: 1px solid var(--color3);
}

#clear-grid:hover,
#instructions-btn:hover,
#close-btn:hover {
    background-color: var(--color1);
}    

.grid-container {
    display: flex;
    flex-flow: column;
    flex: 100 1 auto;
    border-style: solid;
    margin: 0 5vh;
    background-color: var(--white);
    border-radius: 12px;
}

.row {
    display: flex;
}

.row,
.col {
    flex: 1;
}

.square {
    flex: 1;
}

.footer {
    flex: 1 1 5vh;
    color: var(--white);
    margin: 0 auto;
    text-align: center;
}
h1 {
    margin: 0;
    font-family: "Brush Script MT";
}

.footer p {
    margin: 0 0 6px 0;
}

#instructions-popup {
    position: fixed;
    display: none;
    opacity: 0;
    transition: opacity 0.4s;
    background-color: #3307039c;
    width: 100%;
    height: 100%;
}

#instructions-window {
    position: fixed;
    width: 600px;
    height: 550px;
    background: var(--white);
    border: 24px solid var(--color1);
    border-radius: 24px;
    padding: 16px;
    margin: auto;
    box-shadow: 2px 2px 8px var(--color2);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }    

#instructions-header {
    text-align: center;
}

#instructions-header p {
    font-size: 12px;
    font-style: italic;
    margin: 0 0 8px 0;
}
a {
    text-decoration: none;
    color: black;
}

#instructions-text h4 {
    margin: 0;
    font-size: 18px;
}

#instructions-text h5 {
    margin: 12px 0 0 0;
    font-size: 16px;
}
#instructions-text p {
    font-size: 14px;
    margin: 6px 0;
}

#close-btn {
    /* background-color: whitesmoke; */
    color: var(--white);
    margin-top: 12px;
    padding: 12px 18px;
    position: relative;
    left: 92%;
    bottom: 105%;
}